* {
  font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
}
#TabelasContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
}

#TabelaGrupoFasesContainer {
  padding: 20px;
}

#TabelaClassificatoria {
  padding: 20px;
}
table,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

#timesContainer {
  padding: 20px;
}
